<template name="postSubmit">
  <form class="form card">
    <div class="form-group">
      <label for="title">Job Title</label>
      <input type="text" name="title" class="form-control" placeholder="Enter the job title..." aria-describedby="title-help-block">
      <span id="title-help-block" class="help-block">ex: "Interaction Designer for an mobile focused analytics tool.</span>
    </div>
    <div class="form-group">
      <label for="title">Company Name</label>
      <input type="text" name="company" class="form-control" placeholder="Enter your company's name...">
    </div>
    <div class="form-group">
      <label for="title">URL</label>
      <input class="form-control" name="url" placeholder="Enter the URL...">
      <span id="title-help-block" class="help-block">URL of your job offer (could be your own website or any other (LinkedIn, Facebook and so forth).</span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" rows="4" placeholder="Describe the offer in a few lines..."></textarea>
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
  </form>
</template>
